
@import url(https://fonts.googleapis.com/css?family=Amatica+SC|Cuprum|Ewert|Fredericka+the+Great|Quicksand|Righteous|Special+Elite|Vast+Shadow);

html {
  height: 100%;
  overflow: hidden;
}

body { 
  margin:0;
  padding:0;
	perspective: 1px;
	transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
    /*font-family: 'Quicksand', sans-serif;*/
    /*font-family: 'Cuprum', sans-serif;*/
    /*font-family: 'Righteous', cursive;*/
    font-family: 'Special Elite', cursive;
    /*font-family: 'Ewert', cursive;*/
    /*font-family: 'Fredericka the Great', cursive;*/
    /*font-family: 'Amatica SC', cursive;*/
    /*font-family: 'Vast Shadow', cursive;*/
}

h1 {
   font-size: 250%;
}

p {
  font-size: 80%;
  line-height: 2vw;
  color: #333;
}

a {
   color: #8080ff;
}

.slide {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
	transform-style: inherit;
}

.img1 {
  position: absolute;
  top: 40%;
  right: 5%;
  width: 320px;
  height: 240px;
  transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
  /*padding: 10px;*/
  /*border-radius: 5px;*/
  /*background: rgba(240,230,220, .7);*/
  box-shadow: 
                0px 0px 0px 9px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.9)
               
}

.img1:first-of-type {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(5deg);
}

.img2 {
  position: absolute;
  top: 50%;
  right: 40%;
  width: 320px;
  height: 240px;
  transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
  /*padding: 10px;*/
  /*border-radius: 5px;*/
  /*background: rgba(240,230,220, .7);*/
  box-shadow:  0px 0px 0px 9px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.9)
}

.img2:first-of-type {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
}

.img3 {
  position: absolute;
  top: 35%;
  right: 5%;
  width: 320px;
  /*height: 240px;*/
  transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
  padding: 10px;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

.img3:first-of-type {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-3deg);
}

.img4 {
  position: absolute;
  top: 60%;
  right: -1%;
  width: 320px;
  /*height: 240px;*/
  transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
  padding: 10px;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

.img4:first-of-type {
  transform: translateZ(2px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
}

.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}

.title {
  width: 50%;
  padding: 5%;
  border-radius: 5px;
  background: rgba(204, 204, 255, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0;
}

.slide, .slide:before {
  background: 50% 50% / cover;  
}

.header {
  text-align: center;
  font-size: 175%;
  color: #fff;
  text-shadow: 0 2px 2px #000;
}

#title {
  background-image: url("/images/MtWhitney.jpg");
   background-attachment: fixed;  
}

#slide1:before {
  background-image: url("/images/MonoLake.jpg");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#slide2 {
  background-image: url("/images/MonoLakeSunset-1.jpg");
  background-attachment: fixed;
}

#slide3:before {
  background-image: url("/images/JoshuaTreeSunset.jpg");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#slide4 {
  background-image: url("/images/HawaiiTree-1.jpg");  
  background-attachment: fixed;

  /*background: #222;*/
}

footer {
  display: flex;
  align-items: center;
  background: black;
  height: 10vh;
  color: white;

}
/*# sourceMappingURL=main.css.map */
